:root {
  --xn-b1aahvuke1i-xn-p1ai-semantic-link-font-family: "Helvetica", Helvetica;
  --xn-b1aahvuke1i-xn-p1ai-semantic-link-font-weight: 400;
  --xn-b1aahvuke1i-xn-p1ai-semantic-link-font-size: 18px;
  --xn-b1aahvuke1i-xn-p1ai-semantic-link-letter-spacing: 0px;
  --xn-b1aahvuke1i-xn-p1ai-semantic-link-line-height: normal;
  --xn-b1aahvuke1i-xn-p1ai-semantic-link-font-style: normal;
  --xn-b1aahvuke1i-xn-p1ai-semantic-strong-font-family: "Helvetica", Helvetica;
  --xn-b1aahvuke1i-xn-p1ai-semantic-strong-font-weight: 700;
  --xn-b1aahvuke1i-xn-p1ai-semantic-strong-font-size: 22px;
  --xn-b1aahvuke1i-xn-p1ai-semantic-strong-letter-spacing: -0.699999988079071px;
  --xn-b1aahvuke1i-xn-p1ai-semantic-strong-line-height: 26px;
  --xn-b1aahvuke1i-xn-p1ai-semantic-strong-font-style: normal;
  --xn-b1aahvuke1i-xn-p1ai-helvetica-regular-font-family: "Helvetica", Helvetica;
  --xn-b1aahvuke1i-xn-p1ai-helvetica-regular-font-weight: 400;
  --xn-b1aahvuke1i-xn-p1ai-helvetica-regular-font-size: 13px;
  --xn-b1aahvuke1i-xn-p1ai-helvetica-regular-letter-spacing: -0.5px;
  --xn-b1aahvuke1i-xn-p1ai-helvetica-regular-line-height: 16px;
  --xn-b1aahvuke1i-xn-p1ai-helvetica-regular-font-style: normal;
  --xn-b1aahvuke1i-xn-p1ai-helvetica-neue-medium-font-family: "Helvetica Neue",
    Helvetica;
  --xn-b1aahvuke1i-xn-p1ai-helvetica-neue-medium-font-weight: 500;
  --xn-b1aahvuke1i-xn-p1ai-helvetica-neue-medium-font-size: 26px;
  --xn-b1aahvuke1i-xn-p1ai-helvetica-neue-medium-letter-spacing: -1.5px;
  --xn-b1aahvuke1i-xn-p1ai-helvetica-neue-medium-line-height: 23px;
  --xn-b1aahvuke1i-xn-p1ai-helvetica-neue-medium-font-style: normal;
}
